<% include ./partials/header %>

<h1>INDEX PAGE</h1>
<div class="ui main text container segment">
  <div class="ui divided items">
    <% blogs.forEach((blog) => { %>
    <div class="item">
      <div class="image">
        <img src="<%= blog.image %>">
      </div>
      <div class="content">
        <h2><%= blog.title %></h2>
        <div class="meta">
          <span class="cinema"><%= blog.created.toDateString() %></span>
        </div>
        <div class="description">
          <p><%= blog.body.substring(0, 100) %>...</p>
        </div>
        <div class="extra">
          <div class="ui right floated primary button">
            <a href="/blogs/<%= blog._id %>">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<% include ./partials/footer %>